<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pupsery - Favourites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="results-list">
        <a href="sitter1" class="sitter-card" data-id="sitter1">
            <div class="sitter-details">
                <h3>Kenna MacDonald</h3>
                <p>⭐⭐⭐⭐⭐</p>
            </div>
        </a>

        <a href="sitter2" class="sitter-card" data-id="sitter2">
            <div class="sitter-details">
                <h3>Alan McKendrick</h3>
                <p>⭐⭐⭐⭐</p>
            </div>
        </a>

        <a href="sitter3" class="sitter-card" data-id="sitter3">
            <div class="sitter-details">
                <h3>Lily Evans</h3>
                <p>⭐⭐⭐</p>
            </div>
        </a>

        <a href="sitter4" class="sitter-card" data-id="sitter4">
            <div class="sitter-details">
                <h3>Oliver Thompson</h3>
                <p>⭐⭐⭐⭐</p>
            </div>
        </a>
    </div>

</body>
</html>
