<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pupsery - Owner General Advice</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>General Advice<h1>
		</div>
		
		<div class="GAinfo">
			<p>
				This will be a page dedicated for new pet owners offering them essential guidance
				on how to care for their pets. This page aims to provide advice on key areas of pet
				care to help new owners feel confident and informed about meeting their pet’s
				needs. Some of the information in this page will include: <br> <br>
				● Energy Levels and Ideal Walk Durations for Each Breed <br>
				● Ideal Weight for Each Breed <br>
				● How and When to Feed <br> 
				● Pet Behaviour and Body Language <br>
				● Training Tips <br>
				● Health and Grooming Recommendations <br>
			</p>
			<p>
				Read on to find out more about these essential topics and ensure you are fully equipped 
				to meet your pet's physical, emotional, and behavioral needs.
			</p>
		</div>
	</div>
</body>
</html>