<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pupsery - Sitter Account</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="Sprofile-container">
	
		<!--Profile Picture-->
		<div class="profile-picture">
			<p>Profile Picture</p>
		</div>
		
		<!--Name and Rating-->
		<div class="name-rating">
			<input type="text" placeholder="Name" class="name-input">
			<input type="text" placeholder="Username" class="username-input">
			<div class="rating-section">
				<span>⭐⭐⭐⭐⭐</span>
			</div>
        </div>
		
		<!--Text-->
		<div class="text-section">
			<textarea placeholder="Some Text"></textarea>
		</div>
		
		<!--Reviews-->
		<div class="reviews-section">
            <p>Reviews</p>
        </div>
		
		<div class="home-button-container">
			<a href="SGenAdv" class="home-button">General Advice</a>
		</div>
	</div>
</body>
</html>