<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pupsery - Sitter General Advice</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>General Advice<h1>
		</div>
		
		<div class="GAinfo">
			<p>
				This page will offer essential tips and best practices for providing good pet care,
				aiding pet sitters in delivering quality services. It will serve both new and experienced
				sitters and provide information on how to handle different pet care situations
				confidently. This page will include: <br> <br>
				● Understanding Pet Temperaments and Energy Levels <br>
				● Basic Pet First Aid <br>
				● Reading Pet Behaviour and Body Language <br>
				● Handling Multiple Pets <br>
				● Exercise Recommendations <br>
				● Cleaning and Hygiene Tips <br>
				● Communication With Clients <br>
				● Building Trust With Clients <br>
			</p>
			<p>
				Read on to find out more and gain the confidence to provide exceptional care for pets!
			</p>
		</div>
	</div>
</body>
</html>