<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pupsery - Sitter Account</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="Sprofile-container">
	
		<!--Profile Picture-->
		<div class="profile-picture">
			<p>Profile Picture</p>
		</div>
		
		<!--Name and Rating-->
		<div class="name-rating">
			<h3>Alan McKendrick</h3>
			<p>A-McK234</p>
			<div class="rating-section">
				<span>⭐⭐⭐⭐</span>
			</div>
        </div>
		
		<!--Text-->
		<div class="text-section">
			<p>
			Hi, I’m Alan McKendrick, a 34-year-old pet sitter with over 7 years of experience caring for pets of all kinds.
			I’m dedicated, reliable, and love making sure your furry friends feel safe and happy while you’re away. 
			When I’m not pet sitting, I enjoy hiking with my rescue dog, Milo
			</p>
		</div>
		
		<!--Reviews-->
		<div class="reviews-section">
			<div class="review-card">
				<h4>John Doe</h4>
				<p class="review-text">"Great Experience! Highly recommended."</p>
				<div class="review-rating">⭐⭐⭐⭐⭐</div>
			</div>
			<div class="review-card">
				<h4>Arandom User</h4>
				<p class="review-text">"Pets loved them! Would book again."</p>
				<div class="review-rating">⭐⭐⭐⭐⭐</div>
			</div>
        </div>
	</div>
</body>
</html>